<h1><%= @film_title %></h1>

<p><b>Price:</b> <%= @film_price %></p>

<p><b>Screenings:</b> <%= @film_screenings %></p>

<p><b>Customers with tickets to this film:</b> <%= @film_customers %></p>

<p><a href="/">Back</a></p>
